
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body,
  html,
  #container{
    width: 100%;
    height: 280%;
    display: flex;
    flex-direction: column;
}

body{
    background-color: rgb(37, 36, 49);
}

#container{
 
}

#encabezado,
#contenido-central1,
#contenido-central2,
#contenido-central3,
#contenido-central4,
#piePagina{
    width: 100%;
}

 /* encabezado */
#encabezado{
    height: 12.66%; 
    background-color: rgb(37, 36, 49);
}
.logo{
    margin-top: 50px;
    margin-left: 50px;
    width: 10%;
    height: 28%;
}
#boton1,
#boton2,
#boton3{
    border: none;
    color: white;
    background: none;
}
.botones{
    margin: 10px;/* dar espacio entre botones */
    float: right;
    margin-top: 50px;
}

/* contenido central 1 */
#contenido-central1{
    height: 43.66%; 
    background-color: rgb(37, 36, 49);
}
.image-central1{
    display:block;
    margin:auto;
    width: 50%;
    height: 50%;
}
.texto-central1{
   text-align: center;
   display: flex;
   flex-direction: column;
   display: block;
   margin-left: 350px;
   margin-right: 350px;
   margin-top: 20px;
}
.text-h1, .text-p, .cc2, .cc22, .cc222, .cc2222, .cc22222, .cc222222, .cc2222222, .cc22222222, .cc3, .cc33, .cc333{
    color: white;
}
.text-p{
    margin-top: 20px;
}
#boton4{
    padding: 11px;  
    font-size: 14px;
    color: #ffffff;
    background-color: #54c7e4;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
}

/* contenido central 2 */
#contenido-central2{
    height: 34.66%; 
    background-color: rgb(37, 36, 49);
}
#contenido-central-22{
    height: 44.33%; 
    display: flex;
    justify-content:space-evenly;
    margin-top: 10px;
}
#contenido-central-dos-uno{
    text-align: center;
}

.image-central{
    font-size: 10px;
}

#contenido-central-222{
    height: 44.33%; 
    display: flex;
    justify-content:space-evenly; 
    margin-top: 20px;
}

#contenido-central-dos-dos, #contenido-central-dos-tres, #contenido-central-dos-cuatro{
    text-align: center;
}

/* contenido central 3 */
#contenido-central3{
    height: 34.66%; 
    display: flex;
    justify-content:space-evenly;
    margin-top: 80px;
}
#contenido-central-tres-uno, #contenido-central-tres-dos{
    background-color: rgb(37, 36, 49);
    width: 50%; 
}
.image-central3{
    width: 370px;
    margin-left: 50px;
    margin-top: 35px;
}

#contenido-central-tres-dos{ 
    text-align: left;
}
.cc3{
    margin-top: 100px;
}
.cc33, .cc333{
    margin-top: 20px;
}

#icon-cc32{
    float: left;
    display: flex;
    justify-content:space-evenly;
}
.cc3333{
    margin-top: 20px;
    text-decoration: underline;
    color:teal;
}
.iconcc3{
  margin-top: 22px;
  margin-left: 10px;
  width: 10%;
  height: 10%;
}


/* contenido central 4 */

#contenido-central4{
    background-color: rgb(37, 36, 49);
    height: 79.33%; 
    margin-top: 100px;
}
.iconocc4{
    margin-left: 50px;
}
.textoo, .textooo, .cc44{
   margin-left: 50px;
   color: white;
  
}
.textoo{
    margin-top: -35px;
    font-weight:bold;
}
.cc44{
   margin-left: -0px;
}

#contenido-central-44{
    height: 150px;
    display: flex;
    justify-content:space-evenly;
    margin-top: -20px;
}
#contenido-central-cuatro-uno, #contenido-central-cuatro-dos, #contenido-central-cuatro-tres {
    background-color: rgb(19, 18, 32);
}

.image-central41, .image-central42, .image-central43{
    border-radius: 70px;
    display:block;
    width: 40px; height: 40px;
    margin-top: 20px;
}


/* pie pagina */

#piePagina,
#section-pie,
#div-pie-pag1,
#div-pie-pag2,
#div-pie-pag3,
#div-pie-pag4,
#div-pie-pag5
{
    background-color: rgb(0, 0, 0);
}
#piePagina{
    height: 450px;
}
.pp1{
    color: white;
}
.logo2{
    margin-top: 50px;
    margin-left: 50px;
    width: 10%;
    height: 18%;
}
#section-pie{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
#div-pie-pag1{
    margin-top: 20px;
    margin-left: 40px;
    width: 400px;
}

#div-pie-pag2,
#div-pie-pag3,
#div-pie-pag4
{
    margin-top: 20px;
    width: 250px;
}
   
#div-pie-pag5{
    margin-top: 20px;
    width: 200px;
}